{
    "swagger": "2.0",
    "info": {
        "title": "API",
        "version": "1.0",
        "contact": {}
    },
    "host": "texasholdem.com",
    "schemes": [
        "http"
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "/auth - 授权相关 "
                ],
                "summary": "手机号 + 密码登录",
                "description": "手机号 + 密码登录",
                "operationId": ".手机号 + 密码登录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "post 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/c_auth.LoginParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_auth.LoginResult"
                        }
                    }
                }
            }
        },
        "/auth/login/quick": {
            "post": {
                "tags": [
                    "/auth - 授权相关 "
                ],
                "summary": "手机号注册",
                "description": "手机注册",
                "operationId": ".手机号注册",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "post 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/c_auth.LoginMobileParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_auth.LoginResult"
                        }
                    }
                }
            }
        },
        "/auth/login/tourist": {
            "post": {
                "tags": [
                    "/auth - 授权相关 "
                ],
                "summary": "游客登录",
                "description": "游客登录",
                "operationId": ".游客登录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "post 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/c_auth.TouristParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_auth.LoginResult"
                        }
                    }
                }
            }
        },
        "/auth/register/mobile": {
            "post": {
                "tags": [
                    "/auth - 授权相关 "
                ],
                "summary": "手机号注册",
                "description": "手机注册",
                "operationId": ".手机号注册",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "post 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/c_auth.RegisterMobileParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_auth.LoginResult"
                        }
                    }
                }
            }
        },
        "/auth/token/refresh": {
            "post": {
                "tags": [
                    "/auth - 授权相关 "
                ],
                "summary": "刷新token",
                "description": "刷新token",
                "operationId": ".刷新token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "post 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/c_auth.TokenRefreshParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_auth.TokenRefreshResult"
                        }
                    }
                }
            }
        },
        "/room/list": {
            "get": {
                "tags": [
                    "/room -房间相关 "
                ],
                "summary": "获取房间列表信息",
                "description": "获取房间列表信息",
                "operationId": ".获取房间列表信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_room.RoomsResult"
                        }
                    }
                }
            }
        },
        "/user/{user_id}/checkin": {
            "get": {
                "tags": [
                    "/user/:user_id - 用户相关 "
                ],
                "summary": "用户签到",
                "description": "用户签到",
                "operationId": ".用户签到",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "user_id",
                        "description": "用户id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "token",
                        "description": "token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_user.CheckinResult"
                        }
                    }
                }
            }
        },
        "/user/{user_id}/info": {
            "get": {
                "tags": [
                    "/user/:user_id - 用户相关 "
                ],
                "summary": "获取用户基本信息",
                "description": "获取用户基本信息",
                "operationId": ".获取用户基本信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "token",
                        "description": "token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "description": "user_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_user.UserInfoResult"
                        }
                    }
                }
            }
        },
        "/user/{user_id}/password/reset": {
            "post": {
                "tags": [
                    "/user/:user_id - 用户相关 "
                ],
                "summary": "重置密码",
                "description": "重置密码",
                "operationId": ".重置密码",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "post 数据",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/c_user.PasswordResetParams"
                        }
                    },
                    {
                        "in": "query",
                        "name": "token",
                        "description": "token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "description": "user_id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/c_user.PasswordResetResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "c_auth.LoginMobileParams": {
            "title": "LoginMobileParams",
            "type": "object",
            "properties": {
                "channel": {
                    "description": "渠道",
                    "type": "string"
                },
                "from": {
                    "description": "来源",
                    "type": "string"
                },
                "mobile_number": {
                    "description": "手机号",
                    "type": "string"
                },
                "password": {
                    "description": "密码",
                    "type": "string"
                },
                "unique_id": {
                    "description": "唯一标识",
                    "type": "string"
                }
            }
        },
        "c_auth.LoginParams": {
            "title": "LoginParams",
            "type": "object",
            "properties": {
                "captcha": {
                    "description": "验证码",
                    "type": "string"
                },
                "channel": {
                    "description": "渠道",
                    "type": "string"
                },
                "from": {
                    "description": "请求来源",
                    "type": "string"
                },
                "loginby": {
                    "type": "string"
                },
                "mobile_number": {
                    "description": "手机号",
                    "type": "string"
                },
                "password": {
                    "description": "密码",
                    "type": "string"
                },
                "unique_id": {
                    "description": "唯一标识",
                    "type": "string"
                }
            }
        },
        "c_auth.LoginResult": {
            "title": "LoginResult",
            "type": "object",
            "properties": {
                "expire": {
                    "description": "token过期时间",
                    "type": "integer",
                    "format": "int64"
                },
                "fresh": {
                    "description": "是否是新用户",
                    "type": "integer",
                    "format": "int64"
                },
                "msg": {
                    "type": "string"
                },
                "need_captcha": {
                    "description": "是否需要验证码",
                    "type": "boolean"
                },
                "refresh_token": {
                    "description": "当 Token 过期时，使用该 Token 获取一个新的",
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                },
                "token": {
                    "description": "请求授权的token",
                    "type": "string"
                },
                "user_id": {
                    "description": "用户Id",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_auth.RegisterMobileParams": {
            "title": "RegisterMobileParams",
            "type": "object",
            "properties": {
                "channel": {
                    "description": "渠道",
                    "type": "string"
                },
                "code": {
                    "description": "验证码",
                    "type": "string"
                },
                "from": {
                    "description": "来源",
                    "type": "string"
                },
                "gender": {
                    "description": "性别0未知 1男 2女(可以不传，默认为0)",
                    "type": "integer",
                    "format": "int64"
                },
                "mobile_number": {
                    "description": "手机号",
                    "type": "string"
                },
                "password": {
                    "description": "密码",
                    "type": "string"
                },
                "unique_id": {
                    "description": "唯一标识0",
                    "type": "string"
                }
            }
        },
        "c_auth.TokenRefreshParams": {
            "title": "TokenRefreshParams",
            "type": "object",
            "properties": {
                "from": {
                    "description": "请求来源",
                    "type": "string"
                },
                "refresh_token": {
                    "description": "旧的刷新码",
                    "type": "string"
                },
                "token": {
                    "description": "旧的token",
                    "type": "string"
                },
                "unique_id": {
                    "description": "唯一设备",
                    "type": "string"
                },
                "user_id": {
                    "description": "用户id",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_auth.TokenRefreshResult": {
            "title": "LoginResult",
            "type": "object",
            "properties": {
                "expire": {
                    "description": "token过期时间",
                    "type": "integer",
                    "format": "int64"
                },
                "fresh": {
                    "description": "是否是新用户",
                    "type": "integer",
                    "format": "int64"
                },
                "msg": {
                    "type": "string"
                },
                "need_captcha": {
                    "description": "是否需要验证码",
                    "type": "boolean"
                },
                "refresh_token": {
                    "description": "当 Token 过期时，使用该 Token 获取一个新的",
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                },
                "token": {
                    "description": "请求授权的token",
                    "type": "string"
                },
                "user_id": {
                    "description": "用户Id",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_auth.TouristParams": {
            "title": "TouristParams",
            "type": "object",
            "properties": {
                "channel": {
                    "description": "渠道",
                    "type": "string"
                },
                "from": {
                    "description": "请求来源",
                    "type": "string"
                },
                "unique_id": {
                    "description": "唯一标识",
                    "type": "string"
                }
            }
        },
        "c_room.RoomsInfo": {
            "title": "RoomsInfo",
            "type": "object",
            "properties": {
                "big_blind": {
                    "description": "大盲注",
                    "type": "integer",
                    "format": "int64"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "max": {
                    "description": "最大人数",
                    "type": "integer",
                    "format": "int64"
                },
                "max_carry": {
                    "description": "最大携带筹码",
                    "type": "integer",
                    "format": "int64"
                },
                "min_carry": {
                    "description": "最小携带筹码",
                    "type": "integer",
                    "format": "int64"
                },
                "online": {
                    "description": "在线人数",
                    "type": "integer",
                    "format": "int64"
                },
                "small_blind": {
                    "description": "小盲注",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_room.RoomsResult": {
            "title": "RoomsResult",
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/c_room.RoomsInfo"
                    }
                },
                "msg": {
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_user.CheckinResult": {
            "title": "CheckinResult",
            "type": "object",
            "properties": {
                "checkin_days": {
                    "description": "签到天数",
                    "type": "integer",
                    "format": "int64"
                },
                "last_checkin_time": {
                    "description": "上次签到时间",
                    "type": "string"
                },
                "msg": {
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_user.PasswordResetParams": {
            "title": "PasswordResetParams",
            "type": "object",
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string"
                },
                "from": {
                    "description": "请求来源",
                    "type": "string"
                },
                "mobile_number": {
                    "description": "手机号",
                    "type": "string"
                },
                "password": {
                    "description": "密码",
                    "type": "string"
                }
            }
        },
        "c_user.PasswordResetResult": {
            "title": "PasswordResetResult",
            "type": "object",
            "properties": {
                "msg": {
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_user.UserInfo": {
            "title": "UserInfo",
            "type": "object",
            "properties": {
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "balance": {
                    "description": "金币余额",
                    "type": "integer",
                    "format": "int64"
                },
                "checkin_days": {
                    "description": "签到天数",
                    "type": "integer",
                    "format": "int64"
                },
                "diamond_balance": {
                    "description": "钻石余额",
                    "type": "integer",
                    "format": "int64"
                },
                "gender": {
                    "description": "性♂别 // 0 未知  1男2女 ",
                    "type": "integer",
                    "format": "int64"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "is_fresh": {
                    "description": "是否新用户",
                    "type": "integer",
                    "format": "int64"
                },
                "last_checkin_time": {
                    "description": "上次签到时间",
                    "type": "string"
                },
                "mobile_number": {
                    "description": "手机号",
                    "type": "string"
                },
                "nick_name": {
                    "description": "昵称",
                    "type": "string"
                },
                "status": {
                    "description": "状态",
                    "type": "integer",
                    "format": "int64"
                },
                "type": {
                    "description": "用户类型",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "c_user.UserInfoResult": {
            "title": "UserInfoResult",
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/c_user.UserInfo"
                },
                "msg": {
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "define.BaseResult": {
            "title": "BaseResult",
            "type": "object",
            "properties": {
                "msg": {
                    "type": "string"
                },
                "ret": {
                    "description": "1成功 0失败",
                    "type": "integer",
                    "format": "int64"
                }
            }
        }
    }
}