swagger: "2.0"
info:
  title: API
  version: "1.0"
host: texasholdem.com
schemes:
- http
paths:
  /auth/login:
    post:
      tags:
      - '/auth - 授权相关 '
      summary: 手机号 + 密码登录
      description: 手机号 + 密码登录
      operationId: .手机号 + 密码登录
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_auth.LoginParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_auth.LoginResult'
  /auth/login/quick:
    post:
      tags:
      - '/auth - 授权相关 '
      summary: 手机号注册
      description: 手机注册
      operationId: .手机号注册
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_auth.LoginMobileParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_auth.LoginResult'
  /auth/login/tourist:
    post:
      tags:
      - '/auth - 授权相关 '
      summary: 游客登录
      description: 游客登录
      operationId: .游客登录
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_auth.TouristParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_auth.LoginResult'
  /auth/register/mobile:
    post:
      tags:
      - '/auth - 授权相关 '
      summary: 手机号注册
      description: 手机注册
      operationId: .手机号注册
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_auth.RegisterMobileParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_auth.LoginResult'
  /auth/token/info:
    post:
      tags:
      - '/auth - 授权相关 '
      summary: 获取token信息
      description: 获取token信息
      operationId: .获取token信息
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_auth.TokenInfoParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_auth.TokenInfoResult'
  /auth/token/refresh:
    post:
      tags:
      - '/auth - 授权相关 '
      summary: 刷新token
      description: 刷新token
      operationId: .刷新token
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_auth.TokenRefreshParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_auth.TokenRefreshResult'
  /charge/charge_goods/list:
    get:
      tags:
      - '/charge - 充值相关 '
      summary: 充值商品列表
      description: 充值商品列表
      operationId: .充值商品列表
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_charge.ChargeGoodsResult'
  /game/{user_id}/last_game:
    get:
      tags:
      - '/game/:user_id - 游戏相关 '
      summary: 上局牌局
      description: 上局牌局
      operationId: .上局牌局
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: 用户id
        required: true
        type: integer
        format: int64
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: query
        name: table_id
        description: table_id
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_game.LastGameResult'
  /goods/list:
    get:
      tags:
      - '/goods - 商品相关 '
      summary: 商品列表
      description: 商品列表
      operationId: .商品列表
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_goods.ListResult'
  /room/list:
    get:
      tags:
      - '/room -房间相关 '
      summary: 获取房间列表信息
      description: 获取房间列表信息
      operationId: .获取房间列表信息
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_room.RoomsResult'
  /task/{user_id}/list:
    get:
      tags:
      - '/task/:user_id - 任务相关 '
      summary: 任务列表
      description: 任务列表
      operationId: .任务列表
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: path
        name: user_id
        description: user_id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_task.ListResult'
  /task/{user_id}/receive:
    get:
      tags:
      - '/task/:user_id - 任务相关 '
      summary: 任务达标领取
      description: 任务达标领取
      operationId: .任务达标领取
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: query
        name: task_id
        description: task_id
        required: true
        type: string
      - in: path
        name: user_id
        description: user_id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_task.ReceiveTaskRewardResult'
  /user/{user_id}/bag/list:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 用户背包
      description: 用户背包
      operationId: .用户背包
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: 用户id
        required: true
        type: integer
        format: int64
      - in: query
        name: token
        description: token
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.BagListResult'
  /user/{user_id}/bag/use:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 用户背包物品使用
      description: 用户背包物品使用
      operationId: .用户背包物品使用
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: 用户id
        required: true
        type: integer
        format: int64
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: query
        name: goods_id
        description: goods_id
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/define.BaseResult'
  /user/{user_id}/checkin:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 用户签到
      description: 用户签到
      operationId: .用户签到
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: 用户id
        required: true
        type: integer
        format: int64
      - in: query
        name: token
        description: token
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.CheckinResult'
  /user/{user_id}/checkin/list:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 用户签到列表
      description: 用户签到列表
      operationId: .用户签到列表
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: 用户id
        required: true
        type: integer
        format: int64
      - in: query
        name: token
        description: token
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.CheckinListResult'
  /user/{user_id}/detail:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 获取用户详细信息
      description: 获取用户详细信息
      operationId: .获取用户详细信息
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: path
        name: user_id
        description: user_id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.GetUserInfoDetailResult'
  /user/{user_id}/exchange:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 钻石兑换金币
      description: 钻石兑换金币 ret= -1 时 钻石不足
      operationId: .钻石兑换金币
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: query
        name: goods_id
        description: goods_id
        required: true
        type: string
      - in: query
        name: from
        description: from
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.ExchangeResult'
  /user/{user_id}/info:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 获取用户基本信息
      description: 获取用户基本信息
      operationId: .获取用户基本信息
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: path
        name: user_id
        description: user_id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.UserInfoResult'
  /user/{user_id}/logout:
    get:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 登出 (token过期)
      description: 登出 (token过期)
      operationId: .登出 (token过期)
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: path
        name: user_id
        description: user_id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.TokenOutResult'
  /user/{user_id}/password/reset:
    post:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 重置密码
      description: 重置密码
      operationId: .重置密码
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_user.PasswordResetParams'
      - in: query
        name: token
        description: token
        required: true
        type: string
      - in: path
        name: user_id
        description: user_id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.PasswordResetResult'
  /user/{user_id}/profile/avatar:
    post:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 更新头像
      description: 更新头像
      operationId: .更新头像
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_user.ProfileAvatarParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.ProfileAvatarResult'
  /user/{user_id}/profile/gender:
    post:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 更新性别
      description: 更新性别
      operationId: .更新性别
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_user.ProfileGenderParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/define.BaseResult'
  /user/{user_id}/profile/mobile:
    post:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 绑定手机
      description: 绑定手机
      operationId: .绑定手机
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_user.ProfileMobileParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/c_user.ProfileMobileResult'
  /user/{user_id}/profile/nickname:
    post:
      tags:
      - '/user/:user_id - 用户相关 '
      summary: 更新昵称
      description: 更新昵称
      operationId: .更新昵称
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: post 数据
        required: true
        schema:
          $ref: '#/definitions/c_user.ProfileNicknameParams'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/define.BaseResult'
definitions:
  c_auth.LoginMobileParams:
    title: LoginMobileParams
    type: object
    properties:
      channel:
        description: 渠道
        type: string
      from:
        description: 来源
        type: string
      mobile_number:
        description: 手机号
        type: string
      password:
        description: 密码
        type: string
      unique_id:
        description: 唯一标识
        type: string
  c_auth.LoginParams:
    title: LoginParams
    type: object
    properties:
      captcha:
        description: 验证码
        type: string
      channel:
        description: 渠道
        type: string
      from:
        description: 请求来源
        type: string
      loginby:
        type: string
      mobile_number:
        description: 手机号
        type: string
      password:
        description: 密码
        type: string
      unique_id:
        description: 唯一标识
        type: string
  c_auth.LoginResult:
    title: LoginResult
    type: object
    properties:
      expire:
        description: token过期时间
        type: integer
        format: int64
      fresh:
        description: 是否是新用户
        type: integer
        format: int64
      msg:
        type: string
      need_captcha:
        description: 是否需要验证码
        type: boolean
      refresh_token:
        description: 当 Token 过期时，使用该 Token 获取一个新的
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
      token:
        description: 请求授权的token
        type: string
      user_id:
        description: 用户Id
        type: integer
        format: int64
  c_auth.RegisterMobileParams:
    title: RegisterMobileParams
    type: object
    properties:
      channel:
        description: 渠道
        type: string
      code:
        description: 验证码
        type: string
      from:
        description: 来源
        type: string
      gender:
        description: 性别0未知 1男 2女(可以不传，默认为0)
        type: integer
        format: int64
      mobile_number:
        description: 手机号
        type: string
      password:
        description: 密码
        type: string
      unique_id:
        description: 唯一标识0
        type: string
  c_auth.TokenInfoParams:
    title: TokenInfoParams
    type: object
    properties:
      from:
        description: 来源
        type: string
      token:
        description: token
        type: string
      unique_id:
        description: 唯一设备标识
        type: string
      user_id:
        description: 用户id
        type: integer
        format: int64
      ver:
        description: 版本号
        type: integer
        format: int64
  c_auth.TokenInfoResult:
    title: TokenInfoResult
    type: object
    properties:
      expire:
        type: integer
        format: int64
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_auth.TokenRefreshParams:
    title: TokenRefreshParams
    type: object
    properties:
      from:
        description: 请求来源
        type: string
      refresh_token:
        description: 旧的刷新码
        type: string
      token:
        description: 旧的token
        type: string
      unique_id:
        description: 唯一设备
        type: string
      user_id:
        description: 用户id
        type: integer
        format: int64
  c_auth.TokenRefreshResult:
    title: LoginResult
    type: object
    properties:
      expire:
        description: token过期时间
        type: integer
        format: int64
      fresh:
        description: 是否是新用户
        type: integer
        format: int64
      msg:
        type: string
      need_captcha:
        description: 是否需要验证码
        type: boolean
      refresh_token:
        description: 当 Token 过期时，使用该 Token 获取一个新的
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
      token:
        description: 请求授权的token
        type: string
      user_id:
        description: 用户Id
        type: integer
        format: int64
  c_auth.TouristParams:
    title: TouristParams
    type: object
    properties:
      channel:
        description: 渠道
        type: string
      from:
        description: 请求来源
        type: string
      unique_id:
        description: 唯一标识
        type: string
  c_charge.ChargeGoodsInfo:
    title: ChargeGoodsInfo
    type: object
    properties:
      charge_goods_id:
        description: 商品id
        type: string
      image:
        description: 图片
        type: string
      name:
        description: 商品名
        type: string
      number:
        description: 钻石数量
        type: integer
        format: int64
      price:
        description: 价格
        type: integer
        format: int64
  c_charge.ChargeGoodsResult:
    title: ChargeGoodsResult
    type: object
    properties:
      list:
        type: array
        items:
          $ref: '#/definitions/c_charge.ChargeGoodsInfo'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_game.LastGameResult:
    title: LastGameResult
    type: object
    properties:
      data:
        $ref: '#/definitions/models.GamblingModel'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_goods.GoodsInfo:
    title: GoodsInfo
    type: object
    properties:
      goods_category_id:
        description: 商品类别
        type: integer
        format: int64
      goods_describe:
        description: 商品描述
        type: string
      goods_type_id:
        description: 商品属性
        type: integer
        format: int64
      id:
        type: integer
        format: int64
      image:
        description: 商品图片
        type: string
      name:
        type: string
      price:
        description: 商品价格->钻石
        type: integer
        format: int64
  c_goods.ListResult:
    title: ListResult
    type: object
    properties:
      list:
        type: array
        items:
          $ref: '#/definitions/c_goods.GoodsInfo'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_room.RoomsInfo:
    title: RoomsInfo
    type: object
    properties:
      big_blind:
        description: 大盲注
        type: integer
        format: int64
      id:
        type: integer
        format: int64
      max:
        description: 最大人数
        type: integer
        format: int64
      max_carry:
        description: 最大携带筹码
        type: integer
        format: int64
      min_carry:
        description: 最小携带筹码
        type: integer
        format: int64
      online:
        description: 在线人数
        type: integer
        format: int32
      small_blind:
        description: 小盲注
        type: integer
        format: int64
  c_room.RoomsResult:
    title: RoomsResult
    type: object
    properties:
      list:
        type: array
        items:
          $ref: '#/definitions/c_room.RoomsInfo'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_task.ListResult:
    title: ListResult
    type: object
    properties:
      data:
        $ref: '#/definitions/models.UserTaskMongoModel'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_task.ReceiveTaskRewardResult:
    title: ReceiveTaskRewardResult
    type: object
    properties:
      data:
        $ref: '#/definitions/models.UserTaskModel'
        description: 替换已完成的任务
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.BagDetail:
    title: BagDetail
    type: object
    properties:
      goods_category_id:
        description: 商品类别
        type: integer
        format: int64
      goods_describe:
        description: 描述
        type: string
      goods_id:
        description: 商品id
        type: integer
        format: int64
      goods_type_id:
        description: 商品属性
        type: integer
        format: int64
      image:
        description: 图片
        type: string
      is_expire:
        description: 0为永久,其他为过期时间 时间戳
        type: integer
        format: int64
      name:
        description: 商品名
        type: string
      number:
        description: 数量
        type: integer
        format: int64
  c_user.BagListResult:
    title: BagListResult
    type: object
    properties:
      list:
        type: array
        items:
          $ref: '#/definitions/c_user.BagDetail'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
      user_id:
        description: 用户id
        type: integer
        format: int64
  c_user.CheckinListResult:
    title: CheckinListResult
    type: object
    properties:
      already_checkin:
        description: 已经签到天数
        type: integer
        format: int64
      last_checkin_time:
        description: 上次签到时间
        type: string
      list:
        type: array
        items:
          $ref: '#/definitions/models.CheckinDaysRewardModel'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.CheckinResult:
    title: CheckinResult
    type: object
    properties:
      checkin_days:
        description: 签到天数
        type: integer
        format: int64
      last_checkin_time:
        description: 上次签到时间
        type: string
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.ExchangeResult:
    title: ExchangeResult
    type: object
    properties:
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.GetUserInfoDetailResult:
    title: GetUserInfoDetailResult
    type: object
    properties:
      best_winner:
        description: 最大赢取筹码
        type: integer
        format: int64
      cards:
        description: 最大牌
        type: array
        items:
          $ref: '#/definitions/models.Card'
      inbound_rate:
        description: 入局率
        type: number
        format: double
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
      showdown_rate:
        description: 摊牌率
        type: number
        format: double
      total_game:
        description: 总局数
        type: integer
        format: int64
      win_rate:
        description: 胜率
        type: number
        format: double
  c_user.PasswordResetParams:
    title: PasswordResetParams
    type: object
    properties:
      code:
        description: 验证码
        type: string
      from:
        description: 请求来源
        type: string
      mobile_number:
        description: 手机号
        type: string
      password:
        description: 密码
        type: string
  c_user.PasswordResetResult:
    title: PasswordResetResult
    type: object
    properties:
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.ProfileAvatarParams:
    title: ProfileAvatarParams
    type: object
    properties:
      avatar_filename:
        description: 头像链接
        type: string
  c_user.ProfileAvatarResult:
    title: ProfileAvatarResult
    type: object
    properties:
      avatar:
        description: 头像链接
        type: string
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.ProfileGenderParams:
    title: ProfileGenderParams
    type: object
    properties:
      gender:
        description: 性别 0 未知,1男,2女
        type: integer
        format: int64
  c_user.ProfileMobileParams:
    title: ProfileMobileParams
    type: object
    properties:
      code:
        description: 短信验证码
        type: string
      mobile_number:
        description: 手机号
        type: string
  c_user.ProfileMobileResult:
    title: ProfileMobileResult
    type: object
    properties:
      balance:
        description: 金币余额
        type: integer
        format: int64
      diamond_balance:
        description: 钻石余额
        type: integer
        format: int64
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.ProfileNicknameParams:
    title: ProfileNicknameParams
    type: object
    properties:
      nickname:
        description: 昵称
        type: string
  c_user.TokenOutResult:
    title: TokenOutResult
    type: object
    properties:
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  c_user.UserInfo:
    title: UserInfo
    type: object
    properties:
      avatar:
        description: 头像
        type: string
      balance:
        description: 金币余额
        type: integer
        format: int64
      checkin_days:
        description: 签到天数
        type: integer
        format: int64
      diamond_balance:
        description: 钻石余额
        type: integer
        format: int64
      gender:
        description: '性♂别 // 0 未知  1男2女 '
        type: integer
        format: int64
      id:
        type: integer
        format: int64
      is_chekin:
        description: 今天是否签到,,1已签0未签
        type: integer
        format: int64
      is_fresh:
        description: 是否新用户
        type: integer
        format: int64
      last_checkin_time:
        description: 上次签到时间
        type: string
      mobile_number:
        description: 手机号
        type: string
      nick_name:
        description: 昵称
        type: string
      status:
        description: 状态
        type: integer
        format: int64
      type:
        description: 用户类型
        type: integer
        format: int64
  c_user.UserInfoResult:
    title: UserInfoResult
    type: object
    properties:
      data:
        $ref: '#/definitions/c_user.UserInfo'
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  define.BaseResult:
    title: BaseResult
    type: object
    properties:
      msg:
        type: string
      ret:
        description: 1成功 0失败
        type: integer
        format: int64
  models.Card:
    title: Card
    type: object
    properties:
      suit:
        description: 花色
        type: integer
        format: int64
      value:
        description: 牌值
        type: integer
        format: int64
  models.CheckinDaysRewardModel:
    title: CheckinDaysRewardModel
    type: object
    properties:
      days:
        description: 签到的天数
        type: integer
        format: int64
      id:
        description: 签到奖励的id
        type: integer
        format: int64
      image:
        description: 签到奖励的奖品图片
        type: string
      image_describe:
        description: 描述
        type: string
      number:
        description: 签到奖励的金额
        type: integer
        format: int64
      status:
        type: integer
        format: int64
      type:
        description: 签到奖励的类型
        type: integer
        format: int64
  models.GamblingModel:
    title: GamblingModel
    type: object
    properties:
      bb:
        description: 大盲注
        type: integer
        format: int64
      bb_pos:
        description: 大盲注位置
        type: integer
        format: int64
      button:
        description: 庄家
        type: integer
        format: int64
      cards:
        description: 牌
        type: array
        items:
          $ref: '#/definitions/models.Card'
      end:
        description: 结束时间
        type: integer
        format: int64
      max:
        description: 最多玩家数
        type: integer
        format: int64
      players:
        description: 玩家
        type: array
        items:
          $ref: '#/definitions/models.Player'
      pot:
        description: 奖池
      room_id:
        description: 房间id
        type: integer
        format: int64
      sb:
        description: 小盲注
        type: integer
        format: int64
      sb_pos:
        description: 小盲注位置
        type: integer
        format: int64
      start:
        description: 开始时间
        type: integer
        format: int64
      table_id:
        description: 桌子id
        type: string
  models.Player:
    title: Player
    type: object
    properties:
      action:
        description: 动作
        type: string
      avatar:
        description: 头像
        type: string
      bet:
        description: 投注金额
        type: integer
        format: int64
      cards:
        description: 手牌
        type: array
        items:
          $ref: '#/definitions/models.Card'
      current_chips:
        description: 当前筹码
        type: integer
        format: int64
      former_chips:
        description: 开始筹码
        type: integer
        format: int64
      hand_final_value:
        description: 牌值
        type: integer
        format: int64
      hand_level:
        description: 牌等级
        type: integer
        format: int64
      id:
        description: 玩家id
        type: integer
        format: int64
      nickname:
        description: 昵称
        type: string
      pos:
        description: 位置
        type: integer
        format: int64
      win:
        description: 赢取金额
        type: integer
        format: int64
  models.UserTaskModel:
    title: UserTaskModel
    type: object
    properties:
      already_completed:
        description: 任务已经完成数
        type: integer
        format: int64
      effect_time:
        $ref: '#/definitions/time.Time'
        description: 生效时间
      expire_time:
        $ref: '#/definitions/time.Time'
        description: 过期时间
      image:
        description: 任务图片
        type: string
      image_describe:
        description: 任务图片描述
        type: string
      is_win:
        description: 是非要赢才算
        type: integer
        format: int64
      last_update:
        description: 上次更新时间时间戳
        type: integer
        format: int64
      name:
        description: 任务名字
        type: string
      parent_id:
        description: 任务父级id
        type: integer
        format: int64
      required_describe:
        description: 任务要求描述
        type: string
      required_num:
        description: 任务要求数量
        type: integer
        format: int64
      reward_num:
        description: 奖品数量
        type: integer
        format: int64
      task_id:
        description: 任务id
        type: integer
        format: int64
      task_required_hand_level:
        description: 手牌等级 0 不需要,1开始需要手牌等级
        type: integer
        format: int64
      task_required_id:
        description: 任务要求id
        type: integer
        format: int64
      task_required_match_type:
        description: 任务要求赛事类型
        type: integer
        format: int64
      task_required_player_action:
        description: 玩家动作要求,0无要求,1打赏荷官
        type: integer
        format: int64
      task_required_room_type:
        description: 任务要求房间类型
        type: integer
        format: int64
      task_reward_type_id:
        description: 任务奖品类型id 1金币
        type: integer
        format: int64
      task_type_expire_type:
        description: 任务过期类型
        type: integer
        format: int64
      task_type_id:
        description: 任务类型id
        type: integer
        format: int64
      task_type_name:
        description: 任务类型名字
        type: string
      version:
        description: 版本号
        type: integer
        format: int64
  models.UserTaskMongoModel:
    title: UserTaskMongoModel
    type: object
    properties:
      UserId:
        type: integer
        format: int64
      list:
        type: array
        items:
          $ref: '#/definitions/models.UserTaskModel'
  time.Time:
    type: object
